<div class="jumbotron">
  <h1>Google Maps Search</h1>
  <p>Search for a city below and quickly review past searches.</p>
  <%= form_tag({:controller => 'results', :action => 'index'}, :method => 'get', :id => 'search_form', :class => 'navbar-form') do %>
      <fieldset>
        <div class = 'form-group'>
          <div id='location_input_errors' class='form-errors'></div>
          <%= text_field_tag :location_input, nil, class: 'form-control col-lg-6', placeholder: 'CITY OR ADDRESS' %>
        </div>
        <div class = 'form-group' id='search-div'>
          <div class='form-errors'></div>
          <%= hidden_field_tag(:searches, @searches.to_json) %>
          <%= submit_tag 'SEARCH', class: 'btn btn-primary form-control', id: 'search-button' %>
        </div>
      </fieldset>
  <% end %>
</div>

<div class="col-md-8">
  <div class="gmap" id="map"></div>
</div>

<div class="col-md-4">
  <div class="list-group">

    <% @searches.each do |search| %>
      <span class="list-group-item">
        <%= link_to search, :controller => "results", :action => "index", :searches => @searches.to_json, :location_input => search %>
      </span>
    <% end %>

  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([<%=raw @gmap_hash.to_json %>]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(13);
    });
</script>